---
title: Troy Anderson Portfolio and such
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <img src="https://lh6.googleusercontent.com/-eKZHLReZUVA/AAAAAAAAAAI/AAAAAAAAB_s/z6cPS_PJcuY/photo.jpg?sz=200" alt="Troy Anderson" align="left" style="padding-right: 25px;">
  <h1>Hello, world!</h1>
  <p>Want to know about me?  You may be at the right place... This page is a quick hello, and some links to get to know me.</p>
<p>Anything I can help with - would love to hear about it. 425.341.3717 or the.inventor@gmail.com</p>
</div>

<!-- make a row for the main body content -->
<div class="row">
  <div class="span16">
    <p>
    Welcome, this is a quiet little page to show some of the stuff I've been up to recently
      </p>
  </div>
</div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Programming</h2>
      <p>I enjoy a good language from time to time, currently its Ruby - having fun with Rails.. Find me at <%= link_to "GitHub", "http:/github.com/theinventor" %> and check out some of my recent works.</p>
      <ul>
        <li>Just won a hackathon <%= link_to "Check it Out", "http://developerboards.att.lithium.com/t5/AT-T-Developer-Program-Blogs/AT-amp-T-Mobile-App-Hackathon-Seattle-Recap/ba-p/30193" %></li>
        <li><%= link_to "QR Sync", "http://qrsyncapp.com" %></li>
        <li><%= link_to "Seattle Ruby Jobs", "http://seattlerubyjobs.org" %></li>
      </ul>
    </div>
    <div class="span5">
      <h2>Day Job</h2>
      <p>I do have one of those.. I run a couple technology businesses with my lovely wife.</p>
      <ul>
        <li><%= link_to "All In Networks", "http://allinnetworks.com" %></li>
        <li><%= link_to "Dr PC Fix", "http://drpcfix.com" %></li>
        <li><%= link_to "Really Clicking", "http://reallyclicking.com" %></li>
      </ul>
    </div>
    <div class="span5">
      <h2>Fun</h2>
      <p>I love my family - and goofing around now and then.. check out my google+ profile to see what I've been up to lately.</p>
      <p><a class="btn" href="https://plus.google.com/114886350740886482950">View details &raquo;</a></p>
    </div>
  </div>
